body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
}

* a {
  text-decoration: none;
  color: white;
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionl {
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  -webkit-animation: animateBg 3s linear;
          animation: animateBg 3s linear;
  visibility: hidden;
}
.sectionl__logo {
  position: absolute;
}
.sectionl__logo__img {
  width: 200px;
  -webkit-animation: animate-logo 3s linear;
          animation: animate-logo 3s linear;
}
.sectionl__loader {
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 10;
  visibility: hidden;
}
.sectionl span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
  z-index: 50;
}
.sectionl span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #9356DC;
  box-shadow: 0 0 10px #9356DC, 0 0 20px #9356DC, 0 0 40px #9356DC, 0 0 60px #9356DC, 0 0 80px #9356DC, 0 0 100px #9356DC;
  -webkit-animation: animate 1s linear;
          animation: animate 1s linear;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
  visibility: hidden;
}

.header {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
.header__logo {
  width: 200px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  color: #363636;
  width: 100%;
}
.location__ville {
  margin-left: 20px;
  font-weight: 400;
}

.hero {
  background: #fafafa;
  width: 100%;
}
.hero__container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.hero__title {
  text-align: center;
  max-width: 250px;
  margin: 0;
}
.hero__text {
  text-align: center;
  padding: 5px 40px 20px 40px;
  letter-spacing: 1px;
}
.hero__button {
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  opacity: 0.8;
  color: white;
  padding: 0 20px;
  transition: 0.3s;
  border-radius: 200px;
  box-shadow: 3px 3px 5px 0px rgb(0, 0, 0);
}
.hero__button:hover {
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  box-shadow: 3px 3px 5px 0px rgb(0, 0, 0), 3px 3px 10px 0px #9356DC, 3px 3px 15px 0px #9356DC, 3px 3px 20px 0px #9356DC;
}

.process__container {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.process {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.process__title {
  margin: 0;
}
.process__step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 10px 20px;
  font-weight: 500;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.process__step:hover {
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  box-shadow: 3px 3px 5px 0px rgb(0, 0, 0), 3px 3px 10px 0px #9356DC, 3px 3px 15px 0px #9356DC, 3px 3px 20px 0px #9356DC;
  background: rgba(146, 86, 220, 0.15);
}
.process__step:hover .process__icon {
  color: #9356DC;
}
.process__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.process__icon {
  color: #7E7E7E;
  margin: 0 20px;
}
.process__steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.restaurants {
  margin: 0;
  background: #f6f6f6;
  padding: 20px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.restaurant__cards {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  width: 90%;
}
.restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  transition: 1s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.restaurant__card-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}
.restaurant__card-new p {
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
}
.restaurant__card:hover {
  transition: 0.5s;
  box-shadow: 3px 3px 5px 0px rgb(0, 0, 0), 3px 3px 10px 0px #9356DC, 3px 3px 15px 0px #9356DC, 3px 3px 20px 0px #9356DC;
}
.restaurant__card:hover img {
  transform: scale(1.2);
  transition: 1s;
}
.restaurant__card:hover .restaurant__card-new {
  -webkit-animation: jello-horizontal 1s linear;
          animation: jello-horizontal 1s linear;
}
.restaurant__card-image {
  width: 100%;
  height: 190px;
}
.restaurant__card-image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s;
  border-radius: 20px 20px 0 0;
}
.restaurant__block {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  position: relative;
}
.restaurant__block-info {
  color: black;
  margin-left: 20px;
}
.restaurant__block-info > :first-child {
  font-weight: 800;
}
.restaurant__block-hearth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 30px;
}
.restaurant__block .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.restaurant__block .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.restaurant__block .heart-full:hover {
  -webkit-animation: heartbeat 1s linear infinite;
          animation: heartbeat 1s linear infinite;
}
.restaurant__block .heart-empty {
  width: 50px;
  position: relative;
}
.restaurant__block .heart-empty:hover {
  opacity: 0;
  transition: 1.5s;
  -webkit-animation: heartbeat 1s linear infinite;
          animation: heartbeat 1s linear infinite;
}

.restaurant__card:hover .restaurant__block-name {
  color: #9356DC;
}

.footer {
  width: 100%;
  background-color: #353535;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bloc {
  display: inline;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}
.footer__bloc .logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 18px;
  padding: 15px 0;
}
.footer__bloc-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.footer__bloc-link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer__bloc-link:hover .footer__bloc-link__title {
  color: #9356DC;
  transform: translateX(10px);
}
.footer__bloc-link:hover .footer__bloc-link__title a {
  color: #9356DC;
}
.footer__bloc-link i {
  margin-right: 10px;
  transition: 0.5s;
}
.footer__bloc-link:hover i {
  color: #9356DC;
  -webkit-animation: bounce-in-bck 1s linear;
          animation: bounce-in-bck 1s linear;
  transform: scale(1);
}
.footer__bloc-link__title {
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

@-webkit-keyframes animateBg {
  0% {
    filter: hue-rotate(0deg);
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    filter: hue-rotate(60deg);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes animateBg {
  0% {
    filter: hue-rotate(0deg);
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    filter: hue-rotate(60deg);
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes animate {
  0% {
    transform: scale(1);
    visibility: visible;
  }
  80%, 100% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes animate {
  0% {
    transform: scale(1);
    visibility: visible;
  }
  80%, 100% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes animate-logo {
  0% {
    transform: translateY(0);
  }
  80%, 100% {
    opacity: 0;
    transform: translateY(-400px);
  }
}
@keyframes animate-logo {
  0% {
    transform: translateY(0);
  }
  80%, 100% {
    opacity: 0;
    transform: translateY(-400px);
  }
}
@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounce-in-bck {
  0% {
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-bck {
  0% {
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@media screen and (min-width: 800px) {
  .restaurant__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }

  .process__step {
    width: 100%;
  }

  .process__steps {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  .footer__bloc {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__bloc-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 900px;
    width: 100%;
  }
  .footer__bloc .logo {
    text-align: center;
  }
}/*# sourceMappingURL=style_pages.css.map */