body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* a {
  text-decoration: none;
  color: white;
}

header {
  z-index: 10;
  background: white;
  width: 100%;
}
header .header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
header .header__arrow {
  width: 60px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 35%;
  font-size: 20px;
}
header .header__arrow a {
  color: #000;
  transition: 0.5s;
}
header .header__arrow a:hover {
  color: #9356dc;
}
header .header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  width: 200px;
}
header .header__logo a {
  color: #000;
}

.img {
  width: 100%;
  height: 50vh;
}
.img__image {
  margin-top: -80px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: -200px;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
}
.menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__header__title {
  font-family: "Shrikhand", cursive;
}
.menu__header__heart .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: rgb(255, 255, 255);
  cursor: pointer;
}
.menu__header__heart .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.menu__header__heart .heart-empty {
  position: relative;
}
.menu__header__heart .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}
.menu__grid {
  display: grid;
  grid-gap: 40px;
}
.menu__grid__bloc {
  display: grid;
  grid-gap: 15px;
}
.menu__grid__title h3 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}
.menu__grid__title h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu__grid__case {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.menu__grid__case:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu__grid__case:hover .menu__case__price {
  padding-right: 70px;
  transition: 0.5s ease;
}
.menu__grid__case .validation__box {
  display: none;
  position: absolute;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
}
.menu__grid__case .validation__box i {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
          animation: rotate 0.5s both;
}
.menu__case__dish {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__case__dish p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__case__dish-title {
  font-weight: bold;
}
.menu__case__price {
  padding-right: 20px;
  font-weight: bold;
  padding-left: 7px;
}
.menu__contain-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__button {
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  opacity: 0.8;
  color: white;
  padding: 0 20px;
  transition: 0.3s;
  border-radius: 200px;
  box-shadow: 3px 3px 5px 0px rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 50px 0;
  font-size: 18px;
}
.menu__button:hover {
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  box-shadow: 3px 3px 5px 0px rgb(0, 0, 0), 3px 3px 10px 0px #9356dc, 3px 3px 15px 0px #9356dc, 3px 3px 20px 0px #9356dc;
}

.dish-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appears-with-opacity {
  -webkit-animation: opacity 1s both;
          animation: opacity 1s both;
}

#case-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#case-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#case-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#case-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#case-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#case-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#case-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#case-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#case-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.footer {
  width: 100%;
  background-color: #353535;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bloc {
  display: inline;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}
.footer__bloc .logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 18px;
  padding: 15px 0;
}
.footer__bloc-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.footer__bloc-link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer__bloc-link:hover .footer__bloc-link__title {
  color: #9356dc;
  transform: translateX(10px);
}
.footer__bloc-link:hover .footer__bloc-link__title a {
  color: #9356dc;
}
.footer__bloc-link i {
  margin-right: 10px;
  transition: 0.5s;
}
.footer__bloc-link:hover i {
  color: #9356dc;
  -webkit-animation: bounce-in-bck 1s linear;
          animation: bounce-in-bck 1s linear;
  transform: scale(1);
}
.footer__bloc-link__title {
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

@-webkit-keyframes bounce-in-bck {
  0% {
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-bck {
  0% {
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@media screen and (min-width: 1100px) {
  .menu {
    margin-top: -60px;
  }
  .menu__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .img__image {
    margin-top: 0;
  }
  .footer__bloc {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__bloc-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 900px;
    width: 100%;
  }
  .footer__bloc .logo {
    text-align: center;
  }
}/*# sourceMappingURL=style_pages.css.map */